@page "/client/{id:guid}"

@attribute [Authorize]

@inject IClientDataService ClientDataService
@inject NavigationManager Navigation
@inject IStringLocalizer<Shared.Resources.Resource> localizer

<PageTitle>@localizer["Client"] - LawFirm</PageTitle>

<SimpleNavigation BasePageRef="client" BasePage="@localizer["Client"]" CurrentPage="@localizer["ClientDetails"]" />

@if (client is null)
{
    <p>@localizer["Loading"]...</p>
}
else
{
    <EditForm Model="client">

        <ClientForm Client="client" Disabled=true />

        <div class="mt-4 mb-2">
            <div class="row">
                <div class="offset-4 col-8 text-end">
                    <button class="btn btn-secondary" type="button" @onclick="@(() => Navigation.NavigateTo("client"))">@localizer["GoBack"]</button>
                </div>
            </div>
        </div>

    </EditForm>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ClientVm client;

    protected async override Task OnInitializedAsync()
    {
        client = await ClientDataService.GetClient(Id);
    }
}
