@page "/user"

@attribute [Authorize]

@inject IAuthenticationService AuthenticationService
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Shared.Resources.Resource> localizer

<PageTitle>@(localizer["User"]) - Law Firm</PageTitle>

@if (showConfirmationDialog)
{
    <YesNoModal Message="@(localizer["DeleteConfirmation"])" OnConfirmation="HandleConfirmation" />
}

<SimpleIndexBar RefText="@(localizer["CreateNewUser"])" ComplementText="@(localizer["Please"])" RefPage="user-add" RefPageDescription="@(localizer["AddItHere"])" />

@if (userList is null)
{
    <p>@(localizer["Loading"])...</p>
}
else
{
    @if (userList.Any())
    {
        <div class="responsive-table">
            <TableView Items="userList" Context="user">
                <HeaderTemplate>
                    <th>@localizer["FirstName"]</th>
                    <th>@localizer["LastName"]</th>
                    <th>@localizer["Email"]</th>
                    <th>@localizer["Username"]</th>
                    <th></th>
                </HeaderTemplate>
                <RowTemplate>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td class="text-end">
                        <AuthorizeView>
                            <button title="@(localizer["ChangePassword"])" class="btn btn-primary btn-sm" @onclick="@(() => Navigation.NavigateTo($"/user-password/{user.Id}"))">
                                <i class="bi bi-shield-lock-fill"></i>
                            </button>
                            <button title="@(localizer["Delete"])" class="btn btn-danger btn-sm" @onclick="@(() => ShowConfirmationModal(user.Id))">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </AuthorizeView>
                    </td>
                </RowTemplate>
            </TableView>
        </div>
    }
    else
    {
        <NoItemsRedirect NoItemsMessage="@(localizer["NoUsers"])" RefPage="user-add" RefPageText="@(localizer["AddUserSuggestion"])" />
    }
}


@code {
    private List<UserListViewModel> userList;
    private Guid userIdSelected;
    private bool showConfirmationDialog;

    protected override async Task OnInitializedAsync()
    {
        await GetUsersAsync();
    }

    private void ShowConfirmationModal(Guid id)
    {
        userIdSelected = id;
        showConfirmationDialog = true;
    }

    private async Task HandleConfirmation(bool confirmed)
    {
        if (confirmed)
        {
            try
            {
                await AuthenticationService.DeleteUser(userIdSelected);
                await GetUsersAsync();
                await JsRuntime.InvokeVoidAsync("showSuccessToastr", localizer["DeletedUser"].ToString());
            }
            catch (Exception)
            {
                await JsRuntime.InvokeVoidAsync("showErrorToastr", localizer["GenericError"].ToString());
            }
        }
        showConfirmationDialog = false;
    }

    private async Task GetUsersAsync()
    {
        userList = await AuthenticationService.GetUsers();
    }
}