@page "/case-upsert"

@inject NavigationManager Navigation
@inject IClientDataService ClientDataService
@inject ICaseDataService CaseDataService
@inject IJSRuntime JsRuntime

@attribute [Authorize]

<MudThemeProvider />

<PageTitle>Upsert Case - Law Firm</PageTitle>

<div class="alert alert-secondary">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0;">
            <li class="breadcrumb-item"><a class="font-weight-bold link-dark" href="case">Case</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>
</div>

@if (SubmitSuccessful)
{
    <Alert Message="The client has been added successfully!" AlertType="success" />
}
else if (errorMessage is not null)
{
    <Alert Message="@errorMessage" AlertType="danger" />
}

<EditForm Model="caseUpsert" OnValidSubmit="HandleValidSubmit">

    <FluentValidationValidator />

    <FormSection Title="Clients" HelpText="Individuals or entities seeking legal representation or advice.">

        <div class="row">
            <div class="col-sm-11">
                <MudAutocomplete T="ClientVm"
                                 @bind-Value="clientSelected"
                                 SearchFunc="@SearchClient"
                                 Label="Search client"
                                 ResetValueOnEmptyText="true"
                                 AdornmentIcon="@Icons.Material.Filled.Search"
                                 AdornmentColor="Color.Primary"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 ToStringFunc="@(x => x == null ? null : string.IsNullOrWhiteSpace(x.FirstName) ? x.BusinessName : x.FirstName + " " + x.LastName )" />
            </div>

            <div class="col-sm-1 d-flex align-items-center">
                <button type="button" title="addClient" class="btn btn-primary" @onclick="AddClient">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <div class="mt-3">
            @if (!clients.Any())
            {
                <div class="client-list">
                    <span class="client-nit">No clients selected</span>
                </div>
            }
            @foreach (var clientItem in clients)
            {
                <div class="client-list">
                    @(string.IsNullOrWhiteSpace(clientItem.BusinessName) ? $"{clientItem.FirstName} {clientItem.LastName}" : $"{clientItem.BusinessName}")
                    <span class="client-nit">@clientItem.Nit</span>
                    <button type="button" class="delete-client" @onclick="@(() => RemoveClient(clientItem))">x</button>
                </div>
            }
        </div>

    </FormSection>

    <FormSection Title="Counterparts" HelpText="In litigation, the counterpart of a case is the opposing side.">
        <div class="row">
            <div class="col-6">
                <label for="counterPartName" class="form-label text-muted"><b>Name</b></label>
                <InputText @bind-Value="counterPart.Name" class=" form-control" id="counterPartName" />
                <ValidationMessage For="@(() => counterPart.Name)" />
            </div>
            <div class="col-5">
                <label for="counterPartNit" class="form-label text-muted"><b>Nit</b></label>
                <InputNumber @bind-Value="counterPart.Nit" class=" form-control" id="counterPartNit" />
                <ValidationMessage For="@(() => counterPart.Nit)" />
            </div>
            <div class="col-1 d-flex align-items-center" style="margin-top:27px;" @onclick="AddCounterPart">
                <button type="button" title="addCounterPart" class="btn btn-primary">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>
        <div class="mt-3">
            @if (!counterParts.Any())
            {
                <div class="client-list">
                    <span class="client-nit">No counter parts selected</span>
                </div>
            }
            @foreach (var counterPartToAdd in counterParts)
            {
                <div class="client-list">
                    @counterPartToAdd.Name
                    <span class="client-nit">@counterPartToAdd.Nit</span>
                    <button type="button" class="delete-client" @onclick="@(() => RemoveCounterPart(counterPartToAdd))">x</button>
                </div>
            }
        </div>
    </FormSection>

     <FormSection Title="Details" HelpText="Details of the client case.">
        <FormFieldSet Width="col-11">
            <label for="fileNumber" class="form-label text-muted"><b>File Number</b></label>
            <InputText @bind-Value="caseUpsert.FileNumber" class=" form-control" id="fileNumber" />
            <ValidationMessage For="@(() => caseUpsert.FileNumber)" />
        </FormFieldSet>
     </FormSection>

    <div class="mt-4 mb-2">
        <div class="row">
            <div class="offset-4 col-8 text-end">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-outline-secondary" type="button" @onclick="@(() => Navigation.NavigateTo("case"))">Cancel</button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    private CreateCaseCommand caseUpsert = new();
    private ClientVm clientSelected;
    private List<ClientVm> clients = new();
    private CounterPartVm counterPart = new();
    private List<CounterPartVm> counterParts = new();
    private bool SubmitSuccessful;
    private string? errorMessage;

    private async Task HandleValidSubmit()
    {
        caseUpsert.Ids = clients.Select(x => x.Id).ToList();
        caseUpsert.CounterParts = counterParts;

        var caseCreated = await CaseDataService.CreateCase(caseUpsert);

        if (caseCreated is not null)
        {
            SubmitSuccessful = true;
            clients = new();
            clientSelected = null;
            caseUpsert = new();
        }
        else
        {
            SubmitSuccessful = false;
            errorMessage = "There was a problem saving your tickets.";
        }
    }

    private async Task<IEnumerable<ClientVm>> SearchClient(string valor)
    {
        return await ClientDataService.FindClientsBySearchTerm(valor);
    }

    private void AddClient()
    {
        if(clientSelected is not null && !clients.Any(x => x.Id == clientSelected.Id))
        {
            clients.Add(clientSelected);
        }
    }

    private void AddCounterPart()
    {
        counterParts.Add(counterPart);
        counterPart = new();
    }

    private void RemoveClient(ClientVm client)
    {
        clients.Remove(client);
    }

    private void RemoveCounterPart(CounterPartVm counterPart)
    {
        counterParts.Remove(counterPart);
    }
}
